.note-list {
  display: flex;
  flex-direction: column;
}

.note {
  background: white;
  border-radius: 2px;
  position: relative;
  margin: 1rem;
  min-height: 150px;
}

.note ::-webkit-scrollbar {
  width: .25rem;
}

.note ::-webkit-scrollbar-thumb {
  background: #e2e1e0;
}

.note:last-child {
  margin-bottom: 80px;
}

.note-title {
  margin: 0;
  padding: 1rem;
  font-size: 1.4rem;
  word-break: break-word
}

.note-content {
  margin-bottom: 3rem;
  overflow-y: auto;
  padding: 0 1.2rem 1.2rem;
}

.note-content p {
  line-height: 1.4rem;
  margin: 0;
  word-break: break-word
}

.note-content p:last-child {
  padding: 0;
}

.note-actions {
  align-items: center;
  display: flex;
  background-color: inherit;
  border-top: 1px solid rgba(160,160,160,0.2);
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  height: 3rem;
  width: 100%;
}

.note-actions--end {
  justify-content: flex-end;
}

.note-actions--end .note-action {
  margin-right: 1rem;
}

.note-form {
  display: flex;
  flex-direction: column;
}

@media (min-width:600px) {
  .note-list {
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .note {
    width: 300px;
  }

  .note-content {
    max-height: 30vh;
    overflow-y: auto;
  }
}
